SECRET_KEY=notasecret
DEBUG=true
DJANGO_SETTINGS_MODULE=news.settings
ALLOWED_HOSTS=*
POSTGRES_DB=news
POSTGRES_PASSWORD=changethis
POSTGRES_USER=changethis
POSTGRES_HOST=localhost #should be changed to docker-container example:postgres
POSTGRES_PORT=5432
